---
import AnimatedTextStairs from "../components/AnimatedTextStairs.astro";
import AnimatedWalls from "../components/AnimatedWalls.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>
 <AnimatedTextStairs lines={["404","The", "page", "You", "are", "looking","for", "Does not", "exist"]} />
 <h4>But you can enjoy this cool animation instead!</h4>
<AnimatedWalls/>
</BaseLayout>
