---
import Social from "./Social.astro";
---

<footer class="site-footer">
  <div class="container">
    <!-- <Social platform="github" username="RelappsStudio"/> -->
     <div class="footer-top">
<!-- MARK: Internal links -->
      <div class="footer-col">
        <h4>About</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
<!-- MARK: Attributions -->
        <div class="footer-col">
          <h4>Attributions</h4>
       <p>
      Site built using
      <a href="https://www.astro.build">Astro framework</a>
    </p>
    <p>
      Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a>
    </p>
    <p>
      Additional icons by <a href="https://lucide.dev/">Lucide initiative</a>
    </p>
    <p>
      Full source code, including github automated CD pipeline on <a href="https://github.com/RelappsStudio/mfarm">github</a>
    </p>
    </div>
     </div>
    <!-- MARK: copyright -->
      <div class="footer-bottom">
      <p>© 2026 RelappsStudio.</p>
    </div>
   
  </div>
</footer>