---
import Footer from "../components/Footer.astro";
import '../styles/global.css';

interface Props {
  title?: string; // The '?' marks it as optional
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="stylesheet" href="/uicons/rounded.css">
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body>
    <div class="page">
      
      <!-- MARK: Header -->
      <header class="site-header">
        <a href="/" class="header-link">
        <div class="container">
          <h2>MFARM</h2>
          <p>Meditations for a restless mind</p>
        </div>
        </a>
      </header>

      <!-- MARK:  Main content -->
      <main class="container">
        {title && <h1>{title}</h1>}
        
        <slot />
      </main>

      <!-- MARK:  Footer -->
      <Footer />

    </div>

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  .header-link {
    text-decoration: none;
    color: inherit
  }
</style>